* {
	box-sizing: border-box;
	outline: none!important;
}

body {
	font-family: $base;
	font-size: 14px;
	font-weight: 400;
	color: $grey_dark;
	overflow-x: hidden;
}

.workspace {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	@media(max-width: $tablet) {
		padding: 0 15px;
	}
}

.section_padding {
	padding-top: 70px;
	padding-bottom: 55px;
	@media(max-width: $tablet) {
		padding: 40px 0;
	}
}

.text-center {
	text-align: center;
}

h1,
.h1 {
	font-family: $title;
	font-weight: 900;
	font-size: 32px;
	letter-spacing: 1px;
	@media(max-width: $big-mobile) {
		font-size: 22px;
	}
}

h2,
.h2 {
	font-family: $title;
	font-weight: 900;
	font-size: 22px;
	letter-spacing: 1px;
	margin-bottom: 15px;
	color: $violet_grey_dark;
	text-transform: uppercase;
	@media(max-width: $big-mobile) {
		font-size: 18px;
	}
}
h3,
.h3 {
	font-size: 15px;
	font-family: $base;
	line-height: 1.2;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
}
.subtitle {
	font-family: $title;
	font-size: 14px;
	text-align: center;
	letter-spacing: 1px;
	&.gray_color {
		color: $violet_grey;
	}
	&.after_line {
		padding-bottom: 20px;
	}
}

a {
	text-decoration: none;
	color: inherit;
	transition: color 0.3s;
	&:hover {
		color: $turquoise;
	}
	&.pointer_arrow {
		float: right;
		position: relative;
		padding-right: 20px;
		word-spacing: -2px;
		letter-spacing: 1px;
		&:after {
			content: "";
			width: 20px;
			height: 25px;
			display: block;
			position: absolute;
			right: 0px;
			top: 50%;
			transform: translate(0, -50%);
			background-image: url(../images/arrow.png);
			background-position: center;
			background-repeat: no-repeat;
			transition: right 0.3s;
		}
		&:hover {
			&:after {
				right: -5px;
			}
		}
	}
}

p {
	line-height: 2;
	font-size: 13px;
	letter-spacing: 1px;
	font-family: $base;
	font-weight: 300;
}

.after_line {
	position: relative;
	padding-bottom: 25px;
	&:after {
		content: "";
		position: absolute;
		height: 1px;
		width: 52px;
		display: block;
		background-color: $turquoise;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 0);
	}
	&.grey {
		&:after {
			background-color: $grey;
		}
	}
}

.white_font_color {
	color: $white;
	h2,
	.h2 {
		color: $white;
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	font-size: 0;
	padding: 15px 0;
	.logo {
		float: left;
	}
	.menu {
		float: right;
		padding: 20px 0;
		.item {
			text-transform: uppercase;
			color: $white;
			text-decoration: none;
			display: inline-block;
			font-size: 12px;
			font-weight: 900;
			color: #fff;
			margin-left: 23px;
			letter-spacing: 1px;
			transition: color 0.3s;
			@media(max-width: $big-mobile) {
				font-size: 10px;
			}
			&.active {
				color: $turquoise;
			}
			&:hover {
				color: $turquoise;
			}
		}
		@media(max-width: $tablet) {
			opacity: 0;
			transition: all 0.3s;
			position: fixed;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: 9;
			padding: 0 15px;
			padding-top: 50px;
			visibility: hidden;
			.item {
				display: block;
				margin: 15px 0;
				font-size: 16px;
				margin-left: 0;
			}
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				z-index: -1;
				background-color: $blue;
				opacity: 0.8;
			}
			&.open {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	&:after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -1;
		background-color: $blue;
		opacity: 0;
		transition: opacity 0.3s;
	}
	&.on_fixed {
		&:after {
			opacity: 0.8;
		}
	}
}

.title_slider {
	background-position: center;
	background-size: cover;
	padding-top: 13px;
	height: 100vh;
	max-height: 670px;
	position: relative;
	overflow: hidden;
	&.slick-dotted.slick-slider {
		margin-bottom: 0;
	}
	.slick-list,
	.slick-track {
		height: 100%;
	}
	.item {
		width: 100%;
		height: 100%;
		position: relative;
		&:focus {
			outline: none;
		}
		.slider_content {
			padding-top: 20px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;
			max-width: 800px;
			width: 100%;
			.h1 {
				margin-bottom: 25px;
			}
			.btn {
				margin-top: 40px;
			}
			@media(max-width: $tablet) {
				padding: 0 15px;
				p {
					font-size: 12px;
					line-height: 1.5;
				}
			}
		}
	}
}

.btn {
	min-width: 120px;
	text-align: center;
	font-weight: 900;
	text-transform: uppercase;
	color: $turquoise;
	border: 1px solid $turquoise;
	border-radius: 3px;
	display: inline-block;
	padding: 0 15px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 16px;
	font-family: $btn_font;
	text-decoration: none;
	transition: all 0.3s;
	&:hover {
		background-color: $turquoise;
		color: $white;
	}
}

.burger {
	width: 20px;
	height: 16px;
	position: absolute;
	top: 32px;
	right: 15px;
	z-index: 10;
	@media(min-width: $tablet) {
		opacity: 0;
	}
	span {
		width: 100%;
		height: 2px;
		position: absolute;
		left: 0;
		background-color: $white;
		transition: all 0.5s;
		&:nth-of-type(1) {
			top: 0;
		}
		&:nth-of-type(2) {
			top: 50%;
			transform: translate(0, -50%);
		}
		&:nth-of-type(3) {
			bottom: 0
		}
	}
	&.active {
		span {
			&:nth-of-type(1) {
				transform: rotate(45deg);
				top: 7px;
			}
			&:nth-of-type(2) {
				opacity: 0;
			}
			&:nth-of-type(3) {
				transform: rotate(-45deg);
				bottom: 7px;
			}
		}
	}
}

.slick-dots {
	width: 100%;
	position: absolute;
	bottom: 70px;
	left: 0;
	li {
		width: 10px;
		height: 10px;
		border: 1px solid $turquoise;
		border-radius: 50%;
		margin: 0 3px;
		&.slick-active {
			background-color: $turquoise;
		}
		button {
			width: 100%;
			height: 100%;
			padding: 0;
			&:before {
				display: none;
			}
		}
	}
	@media(max-width: $tablet) {
		bottom: 30px;
	}
}

.infographics {
	font-size: 0;
	vertical-align: top;
	padding-top: 40px;
	.item {
		display: inline-block;
		width: 33.33%;
		padding: 40px 30px;
		border-right: 1px solid $grey;
		border-bottom: 1px solid $grey;
		.img {
			min-height: 55px;
		}
		.title {
			color: $violet_grey_dark;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
			margin-bottom: 20px;
			padding-top: 28px;
		}
		.text {
			font-size: 14px;
			font-family: $base;
			font-weight: 300;
			line-height: 1.5;
		}
		&:after {
			content: "";
			display: table;
			clear: both;
		}
		@media(min-width: $tablet) {
			&:first-of-type {
				border-right: 1px solid $grey;
				border-bottom: 1px solid $grey;
			}
			&:nth-of-type(3n) {
				border-right: none;
			}

			&:nth-of-type(n+1) {
				border-bottom: 1px solid $grey;
				@media(max-width: $s_mobile) {
					border-bottom: none;
				}
			}
			&:nth-of-type(n+2) {
				border-bottom: 1px solid $grey;
				@media(max-width: $s_mobile) {
					border-bottom: none;
				}
			}

			&:nth-of-type(n+4) {
				border-bottom: none;
				@media(max-width: $tablet) {
					border-bottom: none;
				}
			}
		}
		@media(min-width: $s_mobile) and(max-width: $tablet) {
			&:nth-of-type(2n) {
				border-right: none;
			}
			&:nth-of-type(n+5) {
				border-bottom: none;
			}
		}
		@media(max-width: $s_mobile) {
			&:nth-of-type(n) {
				border-right: none;
			}
			&:nth-of-type(6) {
				border-bottom: none;
			}
		}
		@media(max-width: $tablet) {
			width: 50%;
		}
		@media(max-width: $s_mobile) {
			width: 100%;
		}
	}
	&.horizontal {
		padding-top: 35px;
		.item {
			border: none;
			display: flex;
			justify-content: flex-start;
			width: 100%;
			padding: 0;
			margin-bottom: 20px;
			.img {
				flex-basis: 20px;
				width: 20px;
			}
			.text {
				padding-left: 10px;
				width: 90%;
				flex-basis: 90%;
				max-width: 250px;
				line-height: 1.75;
			}
		}
	}
}

.team_section {
	background-position: center;
	background-size: cover;
	font-size: 0;
	vertical-align: top;
	@media(min-width: $tablet) {
		padding-bottom: 65px;
	}
	.btn {
		margin-top: 20px;
	}
}

.team_box {
	margin-right: -10px;
	margin-left: -10px;
	margin-top: 45px;
	margin-bottom: 50px;
	@media(max-width: $tablet) {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.team {
		display: inline-block;
		text-align: center;
		margin: 0 10px;
		margin-bottom: 20px;
		@media(max-width: $s_mobile) {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		.ava {
			width: 220px;
			height: 230px;
			margin: 0 auto;
			@extend .team_section;
		}
		.text_info {
			border: 1px solid $grey;
			border-top: none;
			padding: 20px 15px;
			.name {
				font-size: 14px;
				font-weight: 700;
				margin-bottom: 7px;
				text-transform: uppercase;
			}
			.text {
				text-transform: uppercase;
				font-size: 13px;
				font-weight: 300;
			}
		}
	}
}

.works_section {
	@media(min-width: $tablet) {
		padding-bottom: 70px;
	}
	h2 {
		display: inline-block;
	}
	.gallery_box {
		text-align: center;
		margin-top: 50px;
		.btn {
			min-width: 140px;
			margin-top: 70px;
		}
	}
}

.gallery {
	height: 400px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	.item_group {
		width: 16.66%;
		flex-basis: 16.66%;
		@media(max-width: $tablet) {
			width: 33.33%;
			flex-basis: 33.33%;
		}
		@media(max-width: $s_mobile) {
			width: 50%;
			flex-basis: 50%;
		}
		.item {
			width: 100%;
			height: 50%;
			display: block;
			background-position: center;
			background-size: cover;
			position: relative;
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: $violet_grey_dark;
				opacity: 0.5;
				z-index: 5;
				transition: all 0.3s;
			}
			&:hover {
				cursor: pointer;
				&:after {
					opacity: 0;
				}
			}
		}
	}
}

.footer {
	background-image: url(../images/bg3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 70px 0;
	@media(max-width: $tablet) {
		padding: 40px 0;
	}
	.column_box {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media(max-width: $tablet) {
			justify-content: center;
		}
		&.column_width_33_desct {
			.column {
				width: 33%;
				flex-basis: 33%;
				@media(max-width: $tablet) {
					width: 50%;
					flex-basis: 50%;
				}
				@media(max-width: $s_mobile) {
					width: 100%;
					flex-basis: 100%;
				}
			}
		}
		.column {
			@media(max-width: $s_mobile) {
				width: 100%;
			}
		}
		.form_column {
			padding-left: 15px;
			@media(max-width: $tablet) {
				padding-left: 0;
				text-align: center;
				form {
					justify-content: center;
				}
			}
		}
		&.mt-15 {
			margin-top: 15px;
		}
	}
	.logo {
		margin-bottom: 20px;
		@media(max-width: $s_mobile) {
			text-align: center;
		}
	}
	h3, .h3 {
		margin-top: 20px;
	}
	.menu {
		@media(max-width: $s_mobile) {
			margin-bottom: 30px;
			margin-top: 20px;
			text-align: center;
		}
		.item {
			text-transform: uppercase;
			font-size: 14px;
			display: inline-block;
			margin-right: 36px;
			letter-spacing: 0.5px;
			@media(max-width: $tablet) {
				margin-right: 20px;
				font-size: 11px;
			}
			& > * {
				line-height: 1;
			}
		}
	}
	.copir {
		@media(max-width: $s_mobile) {
			text-align: center;
		}
		p {
			line-height: 1;
		}
	}
	@media(max-width: $tablet) {
		.column_box {
			.column {
				&.pad_left_tablet {
					padding-left: 40px;
					@media(max-width: $s_mobile) {
						padding-left: 0px;
					}
				}
			}
		}
		.infographics {
			&.horizontal {
				.item {
					.text {
						width: 100%;
						max-width: 100%;
						flex-basis: 100%;
					}
				}
			}
		}
	}
}
.sotial {
	margin-top: 25px;
	.item {
		width: 35px;
		height: 35px;
		border: 1px solid $white;
		border-radius: 50%;
		background-position: center;
		background-repeat: no-repeat;
		display: inline-block;
		margin-right: 6px;
		transition: background-color 0.3s;
		&:hover {
			background-color: $turquoise;
			cursor: pointer;
		}
	}
}

form {
	&.mail_form {
		display: flex;
		margin-top: 30px;
		input[type="submit"] {
			margin-left: 10px;
			min-width: 70px;
			background-color: rgba(255, 255, 255, 0.5);
			background-image: url(../images/subm.png);
			background-repeat: no-repeat;
			background-position: center;
			border: none;
			&:hover {
				cursor: pointer;
			}
		}
	}
	input {
		padding: 15px;
		background: none;
		color: $white;
		box-shadow: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		min-width: 210px;
		&::placeholder {
			color: rgba(255, 255, 255, 0.5);
		}
	}
}