/* adaptive */

$big-notebook: 1600px;
$smallpc: 1400px;
$container: 1300px;
$laptop: 1199px; 
$ipad: 1024px; 
$tablet_min: 992px;
$tablet: 991px;
$big-mobile: 768px;
$s_mobile: 600px;
$mobile: 480px;

/* fonts */

$base: "Roboto";
$title: "Playfair Display";
$btn_font: "Hammersmith One";

/* color */

$white: #fff;
$turquoise: #00e0d0;
$blue: #2e284c;
$violet_grey: #2f2d35;
$violet_grey_dark: #413d4b;
$grey: #c6c4c9;
$grey_dark: #333333;

/*other*/
