/* adaptive */

$big-notebook: 1600px;
$smallpc: 1400px;
$container: 1300px;
$laptop: 1199px; 
$ipad: 1024px; 
$tablet_min: 992px;
$tablet: 991px;
$big-mobile: 768px;
$s_mobile: 600px;
$mobile: 480px;

/* fonts */

/* color */

/*other*/
