doctype
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title= "Creative Agency"
		link(rel='stylesheet', href='css/main.css', type='text/css' )
	body
	footer
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='js/main.js')